body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, .font-heading {
    font-family: 'DM Sans', sans-serif;
}

.site-navbar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
}